


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f3f8f6;
    justify-content: center;
   
    overflow-x: hidden;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mainHeader{
    width: 100%;
    height: 60px;
    background-color: #d6d6c2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
}

.icon{
    width: 50%;
    display: flex;
    font-size: 1rem;
    text-align: center;
    gap: 10px;
}


.resumeIcon{
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

.downloadBtn{
    width: 150px;
    background-color: #1f931b;
    border: none;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: rgb(19, 16, 16);
    cursor: pointer;
    border-radius: 2px;
    font-weight: 300;
}

.downloadIcon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.main{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    /* gap: 20px; */
    margin-top: 60px;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
    /* overflow-y: scroll; */
    padding: 5px;
    /* border: 1px solid #127c0e; */
}

/* .leftContainer::-webkit-scrollbar-track{
    
} */

.rightContainer{
    width: 50%;
    height: auto;
    /* border: 1px solid #127c0e; */
    border: 2px solid grey;
    margin: 3px;
    background-color: white;
    /* padding: 5px; */
}
#types{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#select{
    height: 30px;
    border: rgb(14, 14, 233);
    font-size: 14px;
    border-radius: 5px;
    width: 70%;
    padding: 0 5px;
}
.leftContainer  h1{
    font-size: 15px;
    font-weight: 700;
}

#headerColor{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#headerColorInput{
    width: 13%;
    border: none;
    background: transparent;
    padding: 0;
}
#headerTextColor{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#headerTextColorInput{
    width: 13%;
    border: none;
    background: transparent;
    padding: 0;
}
#personalDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#personalDetails input{
    height: 30px;
    border: rgb(14, 14, 233);
    font-size: 14px;
    border-radius: 2px;
    width: 70%;
    padding: 0 10px;
}
#professionalDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#professionalDetails input{
    height: 30px;
    border: rgb(14, 14, 233);
    font-size: 14px;
    border-radius: 2px;
    width: 70%;
    padding: 0 10px;
}
textarea{
    border: rgb(14, 14, 233);
    font-size: 14px;
    border-radius: 2px;
    width: 70%;
    padding: 5px 10px;
    height: 100px;
    font-family: "Roboto Slab", serif;
}
#employementbtn, #projectBtn{
    width: 70%;;
}
#employementbtn button{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: #127c0e;
    color: white;
    font-size: 14px;
    font-family: "Roboto Slab", serif ;
}

#projectBtn button{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: #127c0e;
    color: white;
    font-size: 14px;
    font-family: "Roboto Slab", serif ;
}

#educationContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#educationBtn{
    width: 100%;
    margin-top: 2px;
}
#addEducation{
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: #127c0e;
    color: white;
    font-size: 14px;
    font-family: "Roboto Slab", serif;
}

#header{
    width: 100%;
    height: 150px;
    /* background-color: #25bb20; */
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 8, 8);
}
#resumeContent{
    display: flex;
    /* flex-direction: row; */
    height: auto;
}
#aside{
    width: 30%;
    height: 610px;
    display: flex;
    flex-direction: column;
    background-color: #efe7e4;
    border: none;
    /* height: 100vw; */
    padding: 10px;
    gap: 20px;
    /* position: relative; */
}
hr{
    height: 2px;
    background: black;
}
#skillsSection{
    height: 200px;
}

#contactInfo{
    padding: 0 5px;
    width: 100%;
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    /* text-wrap: wrap; */
    word-wrap: break-word;
}
#contactImg{
    width: 16px;
    height: 15px;
    object-fit: contain;
}

#mail, #phone, #location , #mailMinimalistic , #phoneMinimalistic, #locationMinimalistic{
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-wrap: wrap;
    height: auto;
    align-items: center;
    word-break: break-all;
    font-weight: 700;
}

h4{
    font-size: 1.2rem;
}
#mainContainer{
    width: 70%;
    padding: 10px;
}
#minimalisticTemplate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
#header2{
    display: flex;
    width: 100%;
    height: 150px;
    /* background-color: #4e4e4e; */
}
#resumeContent2{
    width: 97%;
    height: 100vh;
    padding: 10px;
    margin: 10px;
    /* background-color: white; */
}
#contactSection2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contactInfo2{
    padding: 0 5px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    /* text-wrap: wrap; */
    word-wrap: break-word;
}
#info, #info2{
    width: 68%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}
#info{
    width: 100%;
    text-align: center;
}
#name , #nameMinimalistic{
    font-size: 2rem;
    word-break: break-all;
    width: 100%;
    font-weight: 700;
}
#jobRole , #jobRoleMinimalistic{
    font-size: 1.2rem;
    font-weight: 600;
}

#summaryPara, #summaryPara2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
    /* word-break: break-all; */
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    text-wrap: wrap;
}

/* #Employement-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
} */

input{
    height: 30px;
    border: rgb(14, 14, 233);
    font-size: 12px;
    border-radius: 2px;
    width: 100%;
    padding: 0 10px;
    font-family: "Roboto Slab", serif;
}
#employementDescription, #projectDescription{
    width: 100%;
    font-family: "Roboto Slab", serif;
}
.btnDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
/* #headerColorInput, #headerTextColorInput{
    width: 15%;
    margin: 0;
} */

#experience, #experience2, #projectContainer, #educationCont{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
}
#employementInfo, #MiniemployementInfo, #projectInfo, #MiniprojectInfo, #educationInfo, #MinieducationInfo{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
#topInfo, #MinitopInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#bottomInfo,#MinibottomInfo{
    display: flex;
    width: 100%;
    padding-left: 10px;
    flex-direction: column;
}
#skillsOutput, #skillsOutput2{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
#skillsOutput span{
    background-color: rgba(65, 65, 65, 0.562);
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
}
#skillsOutput2{
    margin-bottom: 10px;
}
#skillsOutput2 span{
    background-color: rgba(65, 65, 65, 0.562);
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
}
#JobdescriptionInput, #projectDescriptionInput, #educationDescription{
    width: 100%;
}